
.card-open-img {
  width: 600px;
}

.card-open-title {
  font-size: 32px;
  margin-bottom: 20px;

}



.card-open-quantity {
  font-size: 22px;

}

.card-open-price {
  font-size: 22px;
  font-weight: 700;

}


/* btn */


.myBtn {
  width: max-content;
  height: max-content;
  color: white;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}




.myBtn:active {

  border: 1px solid rgba(255, 255, 255, 0.20);
  background: linear-gradient(260deg, #00B0E1 10.52%, #1E4FC6 91.43%);
  transform: scale(1.05);
  transition: all 0.05s ease;

}