.trash-container {

}

.trash-empty {
  text-align: center;
  font-size: 32px;
}

.trash-card-img {
  width: 150px;
}

.trash-card-info-box {
  margin-left: 30px;
}

.trash-card-title {
  font-size: 22px;
}

.trash-card-line {}

.trash-card-price {}