.trash-info-container {
  margin-top: 20px;
  width: 100%;
  height: max-content;
  padding: 20px;
  background: linear-gradient(260deg, #00B0E1 10.52%, #1E4FC6 91.43%);
  border-radius: 20px;
}

.trash-info-text {

}



/*  */

.trash-container {
  margin-top: 250px;
}

.trash-img {

  max-width: 210px;
  max-height: 150px;
}


.trash-result-container {
  display: flex;
  flex-direction: column;
}

.trash-result-title {
  font-size: 18px;
}

.trash-result-subtitle {
  font-size: 12px;
  color: #00B0E1;
}

.trash-result-sum {
  font-size: 28px;
}



/* btn */

.myBtn {
  width: max-content;
  height: max-content;
  color: white;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.20);


}


.myBtn-click {
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: linear-gradient(260deg, #00B0E1 10.52%, #1E4FC6 91.43%);

}

.myBtn:active {

  transform: scale(1.05);
  transition: all 0.05s ease;

}