.myBtn {
  width: max-content;
  height: max-content;
  color: white;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.myBtn:active {
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: linear-gradient(260deg, #00B0E1 10.52%, #1E4FC6 91.43%);
}





