.rental-card-container {
  max-width: 377px;
  height: max-content;
  margin-bottom: 40px;

}

.rental-card-img {
  margin-bottom: 19px;
}

.rental-card-title {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.66px;
  margin-bottom: 20px;

  /*  */

  max-height: 29px;
  max-width: 380px;
  margin-bottom: 15px;
}

.rental-card-line-top {
  margin-top: 30px;
  margin-bottom: 14px

}

.rental-card-subtitle {
  color: rgba(169, 169, 169, 0.60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;

  min-height: 110px;
  max-width: 378px;
  margin-bottom: 16px;
}

.rental-card-quantity {
  color: rgba(169, 169, 169, 0.60);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;

  max-height: 29px;
  max-width: 375px;
  margin-top: 10px;
  margin-bottom: 11px;
}

.rental-card-line-bottom {
  margin-bottom: 16px;
}

.rental-card-price {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.66px;

  max-height: 70px;
  max-width: 378px;
  margin-bottom: 30px;
}

.rental-card-button {
  border-radius: 67px;
  border: 1px solid #FFF;
  background: linear-gradient(113deg, rgba(30, 79, 198, 0.00) 1.67%, rgba(0, 176, 225, 0.00) 100%);

  width: 372px;
  height: 52px;
  flex-shrink: 0;
}


/* btn */

.myBtn-click {
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: linear-gradient(260deg, #00B0E1 10.52%, #1E4FC6 91.43%);

}

.myBtn:active {

  transform: scale(1.05);
  transition: all 0.05s ease;

}



/* quantity */


.rental-card-quantity-container {

  display: flex;
  align-items: center;
  margin-bottom: 30px;
}


.rental-card-quantity-box {
  display:  flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255);
  width: 150px;
  height: 100%;
  padding: 5px;
  border-radius: 30px;
  margin-left: 40px;
}


.rental-card-quantity-counterMinus {
  font-size: 26px;
  padding-left: 20px;

}

.rental-card-quantity-counterText {
  font-size: 26px;
  margin-left: 20px;
  margin-right: 20px;
}



.rental-card-quantity-counterPlus {
  font-size: 26px;
  padding-right: 20px;
}