.team-card-container {
  max-width: 338px;
  margin-right: 100px;
}

.team-card-img {}

.team-card-name {
  text-align: right;

}

.team-card-prof {
  text-align: right;
  transform: rotate(-90deg);
  margin-left: 350px;
  margin-top: -15px;
}