.video-bg {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  opacity: 0.6;


}


.video-gif {
  width: 100vw;
  height: 500px;
  object-fit: cover;
  position: absolute;
  z-index: -1
}



.video-title {
  text-align: center;
  color: #FFF;
font-size: clamp(20px, 2vw, 52px);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  width: 100%;


  /* animation */

  animation: slide-title-in 2s ease-out;
}


.video-wrapper {
  height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.video-subtitle {
  text-align: center;
  color: rgba(255, 255, 255, 0.80);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  font-variant: small-caps;


  /* animation */

  animation: slide-subtitle-in 2s ease-out;
}


.video-btn-wrapper {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.video-btn {
  width: max-content;
  padding-left: 20px;
  padding-right: 20px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 67px;
  background: linear-gradient(113deg, #1E4FC6 1.67%, #00B0E1 100%);




  /* animation */

  animation: show-button 3s ease-out;

}


/* animation */


@keyframes slide-title-in {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform:  translateY(0px);
  }
}



@keyframes slide-subtitle-in {
  0% {
    animation-delay: 2s;
    transform:  translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}



@keyframes show-button {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
