

.header-container {
  margin-top: 30px;

}


/* middle */



.header-menu-items {

color: #FFF;
font-size: 17px;
font-weight: 400;
margin-left: 20px;
cursor: pointer;
text-decoration: none;
}


/* right */


.hedaer-contanct-title {
  text-align: center;
  color: #00B0E1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hedaer-contanct-phone {
  text-align: center;

}


.header-trash-box {
  display: flex;
}

.header-trash-counter {
  font-size: 12px;
  margin-right: 10px;
  color: white;
}

.header-trash-img {
  width: 20px;
  height: 20px;

}